* {
    box-sizing: border-box; 
}

body{
    font-family: "Noto Sans", sans-serif;
}

.navbar{
    background-color: rgb(45, 45, 45);
    display: flex;
    align-items: center;
    color: #fff;
    height: 94px;
}

.header-nav{
    display: flex;
    list-style: none;
    flex-basis: 100%;
    padding: 0 50px;
    margin: 0;
}

.header-nav-link{
    text-decoration: none;
    font-size: 16px;
    margin-right: 50px;
    color: inherit;
}

.header-phone{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;  
}

.header-phone-link{
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.button{
    font-size: 16px;
    color: #fff;
    line-height: 160%;
    font-weight: 600;
    background-color: #5C8EE5;
    align-items: center;
    justify-content: center;
    padding: 25px 60px;
    gap: 10px;
    border: none;
    flex-shrink: 0;

}

.header-button{
    height: 100%;
}

.logo-link{
    margin-left: 50px;
    margin-right: 101px;
}