* {
    box-sizing: border-box; 
}

body{
    font-family: "Noto Sans", sans-serif;
}

html{
    font-size: 1rem;
} 

@font-face {
    font-family: "Bebas Neue";
    src: url(/fonts/ofont.ru_Bebas\ Neue.ttf);
}

@font-face { 
    font-family: "BebasBook";
    src: url("../fonts/BebasBook.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

.Marki{
    display: flex;
}
.AP{
    border: 1px solid #EBEBF0;
    align-items: center;
    display: flex;
    transition: border 0.5s;
}
.AG-Tech{
    border: 1px solid #EBEBF0;
    align-items: center;
    display: flex;
    height: 250px;
    transition: border 0.5s;
}
.AG-icon{
    align-items: center;    
    margin-left: 50px;
    fill: #828A99;    
}

.AG-title{
    margin-top: -20px;
    margin-left: 4.375rem;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 160%;
    letter-spacing: 0;
    color: #292D33;
    transition: color 0.5s;
    
}
.AP:hover{
    border: 1px solid #5C8EE5;
}
.AG-Tech:hover{
    border: 1px solid #5C8EE5;
}
.AG-Tech:hover .AG-title{
    color: #5C8EE5;
}
.AP:hover .AP-title{
    color: #5C8EE5;
} 

.AG-text{
    margin-right: 80px;
    margin-top: -20px;
    margin-left: 4.375rem;
    font-weight: 400;
    width: 360px;
    height: 104px;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    color: #828A99;
}

.Swiper{
    margin-right: 208px;
    
}

.slider-buttons{
    display: none;
    height: 2.75rem;
}

.slider-buttons-prev, .slider-buttons-next{
    height: 100%;
    flex-basis: 50%;
    border: .0625rem solid rgba(235, 235, 240, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.SR{
    margin-left: 32px;
}

.swiper-buttonss{
    display:none;
    width: 7.5rem;
    height: 2.5rem;
    padding-left: 14.0625rem;
    padding-right: .9375rem;
}

.swiper-button-prev, .swiper-button-next{
    height: 50%;
    border: .0625rem solid rgba(235, 235, 240, 0.2);
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container{
    position: relative;
    max-width: 100%;
    margin-top: auto;
    margin-left: 216px;
}

.navbar{
    margin-bottom: 16px;
    border-bottom: .0625rem solid rgba(235, 235, 240, 0.2);
    display: flex;
    align-items: center;
    color: #fff;
    height: 83px;
    width: 100%;
    z-index: 2;
    position: fixed;
    transition: background-color 0.5s;
}

.logo-svg{
    padding-top: 8px;
    justify-content: start;
}

.header-nav{
    height: 100%;
    align-items: center;
    display: flex;
    list-style: none;
    flex-grow: 1;
    padding: 0;
    padding-left: 50px;
    margin: 0;  
}

.header-nav-item{
    height: 100%;
}

.header-nav:end{
    padding: 0;
}

.header-nav-item:not(:last-child){
    margin-right: 4%;
}

.header-nav-link{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: "Noto Sans";
    text-decoration: none;
    font-size: 16px;
    color: inherit;
    position: relative;
}

.header-nav-link::after{
   content:"";
   height: .125rem;
   width: 100%;
   position: absolute;
   bottom: -0.0625rem;
   background-color: #5c8ee6;
   transform: scaleX(0);
   transition: transform 0.5s;
}

.header-nav-link:hover:after{
    transform: scalex(1);
}
.header-phone{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;  
}

.header-phone-link{
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.navbar-button{
    text-decoration: none;
    font-size: "Noto Sans";
    flex-shrink: 0;
    height: 102%;
    font-size: 1rem;
    color: #fff;
    line-height: 160%;
    font-weight: 600;
    background-color: #5C8EE5;
    padding: 2.5rem 60px;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.button-text{
    text-decoration: none;
    font-size: "Noto Sans" bold;
    font-size: .75rem;
    align-items: center;
    justify-content: center;
}

.button{
    margin-left: -32px;
    font-size: 16px;
    color: #fff;
    line-height: 50%;
    font-weight: 600;
    background-color: #5C8EE5;
    padding: 25px 28px;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.header-logo{   
    padding-left: 30px;
    padding-right: 48px;
    display: inline-block;
    background-position: center bottom -2.5rem;
    align-items: center;
    height: 100%;
    border-right: .0625rem solid rgba(235, 235, 240, 0.2);
}

.logo-logo-light{
    display: block;
}

.logo-link{
    margin-left: 50px;
    margin-right: 50px;
}

.header{
    width: 100%;
    margin-bottom: 0;   
    height: 100%;
}

.header-image{
    width: 100%;
    background-image:  url('../img/header-jpg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom -2.5rem;
    position: relative;
}

.header-image::before{
    content: "";
    position: absolute;
    background-color: rgba(41, 45, 51, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.ceporator{
    margin-top: 72px;
    background-color: #5C8EE5;
    width: 140.8px;
    height: 2px;
}

.header-content{
    position: relative;
    z-index: 1;
    padding-top: 150px;
    color: #fff;
}

.header-title{
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    margin-top: 22.4px;
    margin-left: -8px;
    letter-spacing: .0313rem;
    word-spacing: -0.0688rem;
    font-size: 72px;
    line-height: 120%;
    max-width: 1080px;
}

.header-text{
    margin-left: -8px;
    margin-top: -1.3438rem;
    font-family: "Noto Sans";
    letter-spacing: 0rem;
    font-style: normal;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 160%;
    margin-bottom: -0.625rem;
    height: 100%;
}

.logo{
    display: none;
}

.h-butt{
    font-size: 14.4px;
    color: #fff;
    line-height: 143%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #5C8EE5;
    padding: 24px 57.6px;
    border: none;
    margin-left: 3.2px;
    display: inline-block;
    cursor: pointer;
    margin-top: 56.88px;
    transition: background-color 0.5s;
}

.h-butt:hover{
    background-color: #3A71D1;
}

.Uli{
    margin-bottom: 0;
    list-style: none;
    display: flex;
    width: 160px;
    padding: 0;
    margin-top: 92.8px;
    position: relative;
    color: #fff;
}

.text-li{
    margin-top: 24px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 160%;
    height: 100%;
}

.header-li{
    padding-top: 1rem;
    position: relative;
    padding: 12.8px 48px;
    height: 100%;
    width: .875rem;
    border: .0625rem solid rgba(235, 235, 240, 0.2);
    
}

.section{
    margin-top: 150px;
    margin-bottom: 150px;
}
.section-title{
    font-family: "BebasBook";
    font-size: 60px;
    line-height: 120%;
    color: #292D33;
}

.steps-buttons{
    height: 2.5rem;
    display: none;
    justify-content: flex-end;
}

.steps-button-next, .steps-button-prev{
    background: #5c8ee6;
    height: 100%;
    width: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.steps{
    position: relative;
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.steps-item{
    position: relative;
    max-width: 330px;
}

.steps-num{
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%; 
    color: #5C8EE6; 
}

.steps-title{
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 160%;
    color: #292D33;
}



.steps-text{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #828A99;
}

.steps-num:after{
    content: "";
    height: .0625rem;
    width: 100%;
    display: inline-block;
    background: #EBEBF0;
    margin-left: 30px;
}

.steps-btn{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #5C8EE5;
}

.phone-icon{
    fill: #5C8EE6;
}

.steps-btn::before{
    content: "";
    height: .0625rem;
    width: 2.5rem;
    background: #5C8EE5;
    margin-right: 16px;
    transition: width 0.5s;
}

.steps-btn:hover::before{
    width: 3.75rem;
}

.mobile-menu{
    display: none;
}

.navbar-button .button-icon{
    display: none;
}

.navbar-light{
    width: 100%;
    background-color: #fff;
    color: #292d33;
}

.navbar-light .header-logo-path{
    fill: #292D33;
}

.navbar-light .header-logo-patth{
    fill: #292D33;
}

.contract-zagalovok{
    font-family: "BebasBook";
    font-size: 60px;
    height: 72px;
    color: #292D33;    
}

.contract{
    list-style: none;
}

.contract-h3{
    
    font-family: "Noto Sans";
    font-size: 28px;
    height: 44.8px;
    color: #292D33;
    margin-bottom: 10px;
}

.header{
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card{
    text-decoration: none;
    flex-basis: 33%;
    border: .0625rem solid #EBEBF0;
    position: relative;
    transition: border 0.5s;
}

.card:hover .card-title{
    color:#5C8EE6;
}

.card:hover {
    border-color: #5C8EE6;
}

.card-image{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 90%;
}

.card-title{
    transition: color 0.5s;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 140%;
    color: #292D33;
}

.card-text{
    margin-bottom: 394px;
    font-size: 16px;
    line-height: 160%;
    color: #828A99;
}

.card-content{
    padding: 40px 50px;
}
@media (max-width:106.25rem){
    html {
        font-size: .875rem;
    }

    .header-image{
        background-position: center;
    }
}

@media (max-width:91.25rem){
    html {
        font-size: .8125rem;
    }   
    .header-logo{
        padding: 32px;
    }
    .logo-svg{
        width: 96px;
    }
    .header-nav{
        padding-left: 32px;
    }
    .header-nav-item:not(:last-child){
        margin-right: 16px;
    }
    .header-phone{
        margin-right: 32px;
    }

}

@media (max-width:75rem){
    .container{
        min-width: 1120px;
    }
    .card{
        flex-basis: 50%;
    }
    .header-phone{
        display: none;
    }
    .navbar{
        height: 80px;
    }
    .navbar-button{
        padding-left: 32px;
        padding-right: 32px;
    }
    .slider-buttons{
        display: flex;
    }
    .steps-buttons{
        display: flex;
    }

}

@media (max-width:62rem){
    html {
        font-size: .75rem;
    }   
    .header{
        min-width: 960px;
    }
    .header-header{
        padding-left: 32px;
    }
    .ULI{
        position: relative;
        min-width: 800px;
        padding-left: 0;
    }
    .container{
        margin-left: 0rem;
        max-height: auto;
        max-width: 100%;
    }
    .header-nav{
        display: none;
    }
    .header-logo{
        flex-grow: 1;
        justify-content: center;    
        border: none;
    }
    .mobile-menu-toggle{
        width: 5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 28.8px;
        border-right: .0625rem solid rgba(235, 235, 240, 0.2);
    }
    
    .navbar-light .mobile-menu-line{
        background-color: #333;
    }
    
    .mobile-menu-line{
        height: .0625rem;
        background-color: #fff;
        width: 100%;
        transition: transform 0.2s;
    }
    
    .mobile-menu-line:nth-child(2){
        width: 80%;
    }
    
    .navbar-button .button-text{
        display: none;
    }
    .navbar-button .button-icon{
        fill: #fff;
        display: block;
    }

    .mobile-menu{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 2;
        background-color: #fff;
        padding-top: 80px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .mobile-menu .is-open{
        display: block;
    }

    .mobile-menu-nav{
        list-style: none;
        padding: 0;
    }   

    .mobile-menu-nav-item{
        margin-bottom: 32px;
    }

    .mobile-menu-link{
        text-decoration: none;
        font-weight: 700;
        font-size: .875rem;
        line-height: 160%;
        color: #292d33;
    }

    .mobile-submenu{
        list-style-type: none;
        padding: 0;
        padding-left: 16px;
        margin-top: 16px;
    }

    .mobile-submenu-link{
        text-decoration: none;
        font-size: .875rem;
        line-height: 160%;
        color: #828A99;
    }

    .mobile-phone{
        display: block;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 160%;
        text-decoration-line: underline;
        color: #292D33;
        border-top: .0625rem solid #EBEBF0;
        padding-top: 32px;
        margin-bottom: 24px;
    }

    .mobile-info{
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 16px;
    }

    .mobile-info-address,
    .mobile-info-email{
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 160%;
        color: #292D33;
    }

    .close-menu .mobile-menu-line:nth-child(2){
        display: none;
    }

    .close-menu .mobile-menu-line:nth-child(1){
        transform: rotate(45deg) translate(.5625rem);
    }

    .close-menu .mobile-menu-line:nth-child(3){
        transform: rotate(-45deg) translate(-0.5625rem); 
    }
}

@media (max-width:48rem){
    .container{
        max-width: 640px;
    }
    .header-title{
        font-size: 64px;
    }
    .header-content{
        padding-top: 48px;
    }
    .card{
        flex-basis: 100%;
    }
}

@media (max-width:36rem){
    .container{
        min-width: 90%;
    }

    .header-title{
        font-size: 32px;
    }
}