* {
    box-sizing: border-box; 
}

body{
    font-family: "Noto Sans", sans-serif;
}

html{
    font-size: 16px;
} 

@font-face {
    font-family: "Bebas Neue";
    src: url(/fonts/ofont.ru_Bebas\ Neue.ttf);
}

@font-face { 
    font-family: "BebasBook";
    src: url("../fonts/BebasBook.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

.Swiper{
    margin-right: 13rem;
    
}

.slider-buttons{
    display: none;
    height: 44px;
}

.slider-buttons-prev, .slider-buttons-next{
    height: 100%;
    flex-basis: 50%;
    border: 1px solid rgba(235, 235, 240, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.SR{
    margin-left: 2rem;
}

.swiper-buttonss{
    display:none;
    width: 120px;
    height: 40px;
    padding-left: 225px;
    padding-right: 15px;
}

.swiper-button-prev, .swiper-button-next{
    height: 50%;
    border: 1px solid rgba(235, 235, 240, 0.2);
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container{
    position: relative;
    max-width: 100%;
    margin-top: auto;
    margin-left: 13.5rem;
}

.navbar{
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    display: flex;
    align-items: center;
    color: #fff;
    height: 5.1875rem;
    width: 100%;
    z-index: 2;
    position: fixed;
    transition: background-color 0.5s;
}

.logo-svg{
    padding-top: 0.5rem;
    justify-content: start;
}

.header-nav{
    display: flex;
    list-style: none;
    flex-basis: 100%;
    padding: 0 .9375rem;
    padding-left: 3rem;
    margin: 0;
}

.header-nav:end{
    padding: 0;
}

.header-nav-link{
    font-size: "Noto Sans";
    white-space: nowrap;
    text-decoration: none;
    font-size: 0.9rem;
    margin-right: 3rem;
    color: inherit;
}

.header-phone{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: .625rem;
    margin-right: 3.125rem;  
}

.header-phone-link{
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
}

.header-button{
    text-decoration: none;
    font-size: "Noto Sans";
    flex-shrink: 0;
    height: 102%;
    font-size: 16px;
    color: #fff;
    width: 228px;
    line-height: 160%;
    font-weight: 600;
    background-color: #5C8EE5;
    padding: 1.5625rem 3.75rem;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.button-text{
    text-decoration: none;
    font-size: "Noto Sans" bold;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.button{
    font-size: 1rem;
    color: #fff;
    line-height: 50%;
    font-weight: 600;
    background-color: #5C8EE5;
    padding: 1.5625rem 1.75rem;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.header-logo{   
    padding-left: 1.875rem;
    padding-right: 3rem;
    display: inline-block;
    background-position: center bottom -40px;
    align-items: center;
    height: 100%;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.logo-logo-light{
    display: block;
}

.logo-link{
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

.header{
    width: 100%;
    margin-bottom: 0;   
    height: 100%;
}

.header-image{
    width: 100%;
    background-image:  url('../img/header-jpg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom -40px;
    position: relative;
}

.header-image::before{
    content: "";
    position: absolute;
    background-color: rgba(41, 45, 51, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.ceporator{
    margin-top: 4.5rem;
    background-color: #5C8EE5;
    width: 8.8rem;
    height: .125rem;
}

.header-content{
    position: relative;
    z-index: 1;
    padding-top: 9.375rem;
    color: #fff;
}

.header-title{
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    margin-top: 1.7rem;
    margin-left: 0.2rem;
    letter-spacing: 0.6px;
    word-spacing: -1.1px;
    font-size: 4.5rem;
    line-height: 120%;
    max-width: 67.5rem;
}

.header-text{
    margin-top: -22px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    margin-bottom: -10px;
    height: 100%;
}

.logo{
    display: none;
}

.h-butt{
    font-size: 0.9rem;
    color: #fff;
    line-height: 143%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #5C8EE5;
    padding: 1.5rem 3.6rem;
    border: none;
    margin-left: 0.2rem;
    display: inline-block;
    cursor: pointer;
    margin-top: 3.555rem;
}

.Uli{
    margin-bottom: 0;
    list-style: none;
    display: flex;
    width: 10rem;
    padding: 0;
    margin-top: 5.8rem;
    position: relative;
    color: #fff;
}

.text-li{
    margin-top: 1.5rem;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    height: 100%;
}

.header-li{
    padding-top: 16px;
    position: relative;
    padding: 0.8rem 3rem;
    height: 100%;
    width: 14px;
    border: 1px solid rgba(235, 235, 240, 0.2);
    
}

.section{
    margin-top: 9.375rem;
    margin-bottom: 9.375rem;
}
.section-title{
    font-family: "BebasBook";
    font-size: 3.75rem;
    line-height: 120%;
    color: #292D33;
}

.steps-buttons{
    height: 40px;
    display: none;
    justify-content: flex-end;
}

.steps-button-next, .steps-button-prev{
    background: #5c8ee6;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.steps{
    position: relative;
    display: flex;
    gap: 1.875rem;
    list-style: none;
    padding: 0;
}

.steps-item{
    position: relative;
    max-width: 20.625rem;
}

.steps-num{
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%; 
    color: #5C8EE6; 
}

.steps-title{
    margin-top: 1.875rem;
    margin-bottom: .625rem;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 160%;
    color: #292D33;
}



.steps-text{
    margin-bottom: 1.25rem;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #828A99;
}

.steps-num:after{
    content: "";
    height: 1px;
    width: 100%;
    display: inline-block;
    background: #EBEBF0;
    margin-left: 1.875rem;
}

.steps-btn{
    display: inline;
    text-decoration: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
    line-height: 160%;
    color: #5C8EE5;
}

.phone-icon{
    fill: #5C8EE6;
}

.steps-btn::before{
    max-width: 2.5rem;
    content: "";
    height: 1px;
    width: 100%;
    display: inline-block;
    background: #5C8EE5;
    margin-right: .75rem;
}

.mobile-menu{
    display: none;
}

.header-button .button-icon{
    display: none;
}

.navbar-light{
    width: 100%;
    background-color: #fff;
    color: #292d33;
}

.navbar-light .header-logo-path{
    fill: #292D33;
}

.navbar-light .header-logo-patth{
    fill: #292D33;
}

.contract-zagalovok{
    font-family: "BebasBook";
    font-size: 3.75rem;
    height: 4.5rem;
    color: #292D33;    
}

.contract{
    list-style: none;
}

.contract-h3{
    
    font-family: "Noto Sans";
    font-size: 1.75rem;
    height: 44.8px;
    color: #292D33;
    margin-bottom: .625rem;
}

.header{
    width: 100%;
}

@media (max-width:1700px){
    html {
        font-size: 14px;
    }

    .header-image{
        width: 100%;
    }
}

@media (max-width:1460px){
    html {
        font-size: 12px;
    }   
    .header-logo{
        padding: 2rem;
    }
    .logo-svg{
        width: 2rem;
    }
    .header-nav{
        padding-left: 2rem;
    }
    .header-nav-item:not(:last-child){
        margin-right: 1rem;
    }
    .header-phone{
        margin-right: 2rem;
    }

}

@media (max-width:1200px){
    .slider-buttons{
        display: flex;
    }
    html {
        font-size: 12px;
    }   
    .header-phone{
        display: none;
    }
    .navbar{
        width: 100%;
        height: 5rem;
    }
    .header-button{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .steps-buttons{
        display: flex;
    }

}

@media (max-width:992px){
    
    .header{
        min-width: 62rem;
    }
    .header-header{
        padding-left: 2rem;
    }
    .ULI{
        position: relative;
        min-width: 50rem;
        padding-left: 0;
    }
    .container{
        margin-left: 0px;
        max-height: auto;
        max-width: 100%;
    }
    html {
        font-size: 12px;
    }
    .header-nav{
        display: none;
    }
    .header-logo{
        flex-grow: 1;
        justify-content: center;    
    }
    .mobile-menu-toggle{
        width: 5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        border-right: 1px solid rgba(235, 235, 240, 0.2);
    }
    
    .navbar-light .mobile-menu-line{
        background-color: #333;
    }
    
    .mobile-menu-line{
        height: 1px;
        background-color: #fff;
        width: 100%;
    }
    
    .mobile-menu-line:nth-child(2){
        width: 80%;
    }
    
    .header-button .button-text{
        display: none;
    }
    .header-button .button-icon{
        fill: #fff;
        display: block;
    }

    .mobile-menu.is-open{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 2;
        background-color: #fff;
        padding-top: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .mobile-menu-nav{
        list-style: none;
        padding: 0;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }   

    .mobile-menu-nav-item{
        margin-bottom: 2rem;
    }

    .mobile-menu-link{
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        color: #292d33;
    }

    .mobile-submenu{
        text-decoration: none;
        list-style-type: none;
        padding: 0;
        padding-left: 1rem;
        margin-top: 1rem;
    }

    .mobile-submenu-link{
        text-decoration: none;
        list-style: none;
        font-size: 14px;
        line-height: 160%;
        color: #828A99;
    }

    .mobile-phone{
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        text-decoration: underline;
        color: #292D33;
        border-top: 1px solid #EBEBF0;
        padding-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .mobile-info{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .mobile-info-address,
    .mobile-info-email{
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #292D33;
    }
}